---
import BaseLayout from '../../layouts/BaseLayout.astro';

// todo: is there a way to set the authorization once instead of every call?
export async function getStaticPaths() {
  const data = await fetch(`https://the-one-api.dev/v2/movie`, {
    headers: {
      'Authorization': `Bearer ${import.meta.env.PUBLIC_AUTH_TOKEN}`,
    }
  }).then(response => response.json());
  
  return data.docs.map(movie => {
    return {
      params: { id: movie._id },
      props: {
        id: movie._id,
        name: movie.name,
      },
    }
  });
}
const { name, id } = Astro.props;
---
<BaseLayout>
  <h1>{name} (movie)</h1>
  <img src={`/images/movies/${id}.jpg`} />
</BaseLayout>